.case {
  font-family: "Montserrat", serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2px;
  justify-content: center;
  justify-items: center;
  align-items: start;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  margin: 12px auto;
  max-height: max-content;
  width: 100%;
}
.productImg {
  width: 100%;
  max-width: 480px;
  padding: 0;
  margin: 24px auto;
  border-radius: 5%;
}
.productInfoWrapper {
  padding: 8px;
  margin: 0;
}
.name {
  margin: 4px auto;
  text-align: center;
  font-size: 22px;
}
.price {
  font-size: 18px;
}
.productImgWrapper {
  position:relative;
}
.priceWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.star {
  cursor: pointer;
}
@media screen and (min-width:768px)
{
  .case
  {
    grid-template-columns: 2fr 3fr;
  }
}