@import "../../styles/abstracts/config";

.productPageContainer {
  @include mainContainer;
}

.case {
  @include mainItemsWrapper;
}

.productImgWrapper {
  padding: 0;
  margin: 0 15px 0 0;
}

.productInfoWrapper {
  padding: 0;
  margin: 0 0 0 15px;
}

.name {
  text-align: left;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.productImg {
  width: 100%;
  max-width: 480px;
  padding: 0;
  margin: 0;
  border-radius: 5%;
}

.priceWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infoTitleText {
  font-weight: 500;
}

.careHintsTitle {
  display: inline-block;
  margin: 0 0 8px 36px;
  font-weight: 500;
  font-size: 20px;
}

.careHintsText {
  border-bottom: 1px solid #e7f1e8;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.careHintsGlyph {
  color: #456f49;
  transform: scale(1.6);
}

.price {
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
}

.quantityBlock {
  display: flex;
  gap: 2px;
  align-items: baseline;
}

.quantitySet {
  border: none;
  display: flex;
  gap: 2px;
  align-items: flex-start;
}

.quantitySet span {
  padding: 6px 18px;
  cursor: pointer;
}

.minus,
.plus {
  border: none;
  color: #456f49;
  transform: scale(1.2);
}

.num {
  border: 1px solid #9aa89b;
  font-size: 18px;
  border-radius: 5px;
}

.accordionSign {
  color: #456f49;
  font-size: 36px;
  transform: rotate(90deg);
}

.accordion {
  width: 100%;
  border-bottom: 1px solid #e7f1e8;
}

.accordionHeader {
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px 8px 0;
  border: none;
}

.star {
  border: none;
  outline: none;
  cursor: pointer;
  color: #1fa92d;
  transform: scale(1.1);
}

.topLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: $tablet-min-width) {
  .case {
    grid-template-columns: 2fr 3fr;
  }

  .productPageContainer {
    padding-inline: 30px;
  }

  .productInfoWrapper {
    margin: 0 0 0 30px;
  }
}

@media screen and (min-width: $desktop-min-width) {
  .productPageContainer {
    padding-inline: 100px;
  }

  .productInfoWrapper {
    margin: 0 0 0 100px;
  }
}
