@use '../../styles/abstracts/variables';

.wrapper {
  padding-bottom: 70px;
  text-align: center;
}

.title {
  padding-top: 50px;
  font-size: 23px;
  line-height: 130%;
  color: #202B21;
  margin-bottom: 50px;
  @media (min-width: variables.$tablet-bp) {
    font-size: 32px;
  }
}

.card {
  margin-bottom: 50px;
}

:global(.slick-slider .slick-dots li) {
  border-radius: 50%;
  border: 1px solid #2A592E;

  & .slick-active {
    background: #2A592E;
  }
}

:global(.slick-slider .slick-dots .slick-active) {
  background: #2A592E;
}

//
//:global(.slick-slider .slick-arrow) {
//  top: 90%;
//
//  &::before {
//    border: 1px solid #2A592E;
//  }
//}
//
//:global(.slick-slider button.slick-arrow.slick-prev) {
//  left: 20%;
//}
//
//:global(.slick-slider button.slick-arrow.slick-next) {
//  right: 21%;
//}
//
//:global(.slick-slider button.slick-arrow.slick-prev::before) {
//  background: #2A592E;
//  border-radius: 50%;
//}
//
//:global(.slick-slider button.slick-arrow.slick-next::before) {
//  background: #2A592E;
//  border-radius: 50%;
//}


.slick-slide > div {
  display: grid;
  place-items: center;
}


