@use "../../styles/abstracts/_variables";
@use "../../styles/abstracts/_breakpoints";

.listNavigationFooterCategories {
  margin: 0;
  padding: 0;
  list-style: none;
}

.itemNavigationFooterCategories {
  margin-bottom: 11px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: breakpoints.$tablet-min-width) {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: breakpoints.$desktop-min-width) {
    margin-bottom: 18px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.itemNavigationFooterCategoriesLink {
  text-decoration: none;
  font-family: variables.$fontFamilyMontserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: variables.$color-light;

  @media (min-width: breakpoints.$tablet-min-width) {
    font-size: 16px;
    line-height: 1.6;
  }

  @media (min-width: breakpoints.$desktop-min-width) {
    font-size: 16px;
    line-height: 1.6;
  }
}
