@use "../../styles/abstracts/_variables";

.listNavigationFooter {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: 480px) and (max-width: 1024px) {
  }

  @media (min-width: 1024px) {
  }
}

.itemNavigationFooter {
  margin-bottom: 11px;

  &:last-child {
    margin-bottom: 0;
  }
  @media (min-width: 480px) and (max-width: 1024px) {
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: 1024px) {
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.itemNavigationFooterLink {
  text-decoration: none;
  font-family: variables.$fontFamilyMontserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: variables.$color-light;

  @media (min-width: 480px) and (max-width: 1024px) {
    font-size: 16px;
  }

  @media (min-width: 1024px) {
    font-size: 16px;
    line-height: 1.6;
  }
}
