@use "../../styles/abstracts/_variables";
@use "../../styles/abstracts/breakpoints";

.container {
  width: 256px;
  margin-top: 25px;

  @media (min-width: 768px) {
    margin: 0;
  }

  @media (min-width: 768px) {
    width: 225px;
  }

  @media (min-width: breakpoints.$tablet-min-width) and (max-width: 920px) {
    width: 256px;
    margin-right: 20px;
  }

  @media (min-width: 920px) {
    width: 256px;
    margin-right: 55px;
  }
}

.containerFilterMenu {
  width: 258px;
  margin-bottom: 10px;
  border: 1px solid #b6d5b9;
  border-radius: 5px;

  @media (min-width: 768px) {
    width: 225px;
  }

  @media (min-width: breakpoints.$tablet-min-width) {
    width: 257px;
  }
}

.EasyCareBtn {
  width: 257px;
  font-family: variables.$fontFamilyMontserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  padding: 12px 23px;
  color: #2c2c2c;
  border-radius: 5px;
  background: #b6d5b9;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 768px) {
    width: 225px;
  }

  @media (min-width: breakpoints.$tablet-min-width) {
    width: 257px;
  }
}

.CheckboxWrapper {
  padding-left: 15px;
}

.priceContainer {
  margin: 20px 0 25px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.priceWrapper {
  width: 70px;
  padding: 5px 0 5px 15px;
  border: 1px solid #b6d5b9;
  border-radius: 5px;
}

.priceWrapperError {
  width: 70px;
  padding: 5px 0 5px 15px;
  border: 1px solid #ff0101;
  border-radius: 5px;
}

.lineFormPrice::after {
  content: "";
  display: block;
  width: 10px;
  height: 1px;
  background: #2c2c2c;
}

.priceBtnSubmit {
  padding: 5px 10px;
  border: 1px solid #b6d5b9;
  border-radius: 5px;
  color: #2c2c2c;
  font-size: 14px;
  background: #b6d5b9;
  text-transform: uppercase;
}
