@import "../../styles/abstracts/config";

.ymalContainer {
  margin: 30px auto 80px;
}

.ymalTitle {
  margin-bottom: 20px;
  text-align: left;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
