.title {
  padding: 30px;
  text-align: center;
  font-size: 36px;
  line-height: 47px;
  color: #202b21;
}

.container {
  border: 2px solid #2a592e;
  border-radius: 1%;
}

.formik_error {
  color: red;
  margin: 5px;
}
