$container-max-width: 1440px;
$desktop-min-width: 1025px;
$tablet-min-width: 769px;
$container-min-width: 375px;

@mixin tablet {
  @media screen and (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-min-width) {
    @content;
  }
}
