$tablet-bp: 1024px;
$desktop-bp: 1440px;
$accent-color: #8d81ac;
$accent-secondary: #848e97;
$color-text: #323232;
$color-light: #fff;
$footer-bg-color: #477547;
$fontFamilyMontserrat: "Montserrat";
$fontWeightValue: 400;
$fontSizeValue: 14px;
$lineHeightValue: 14px;
