$tablet-bp: 481px;
$desktop-bp: 993px;

$accent-color: #8D81AC;
$accent-secondary: #848E97;
$color-text: #323232;
$color-light: #FFFFFF;
$footer-bg-color: #477547;

$fontFamilyMontserrat: "Montserrat";

$fontWeightValue: 400;
$fontSizeValue: 14px;
$lineHeightValue: 14px;
