@import '../../styles/abstracts/config';

.favoritesPageContainer {
  @include mainContainer;
}
.favoritesItemsWrapper {
  @include mainItemsWrapper;
}
.favoritesTitle {
  margin-bottom: 20px;
  text-align: left;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
@media screen and (min-width: $tablet-min-width) {
  .favoritesPageContainer {
    padding-inline: 30px;
  }
  .favoritesItemsWrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: $desktop-min-width) {
  .favoritesPageContainer {
    padding-inline: 100px;
  }
  .favoritesItemsWrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}