/* stylelint-disable */
@import '../../styles/abstracts/config';
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";


.slider__wrapper-card-photo {
  max-width: 280px;
}

.slider__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;

  &-item &-photo {
    width: 100%;
    height: 380px;
  }
}

.slider__container {
  max-width: ($container-max-width)-200px;
  margin: 0 auto;
  padding-right: 0;
  padding-left: 0;
}

.slick-dots {
  bottom: 15px;
  z-index: 193;
  color: #fff;
  @media (max-width: 360px) {
    display: none;
  }
}

.slick-track {
  position: relative;
  @include flexCentre;
}

div.slick-track {
  width: 1440px;
  overflow-x: hidden;
}

button.slick-arrow.slick-next::before {
  position: absolute;
  top: 45%;
  left: -25px;
  width: 35px;
  height: 35px;
  padding-bottom: 4px;
  padding-left: 2px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background: #51ad33;
  opacity: 100;
  content: '';
  @include flexCentre;
  @media (max-width: 360px) {
    display: none;
  }
}

button.slick-arrow.slick-prev:before {
  @media (max-width: 360px) {
    display: none;
  }
}

.slick-arrow.slick-prev::after, .slick-arrow.slick-next::after {
  position: absolute;
  bottom: -10px;
  display: block;
  width: 8px;
  height: 8px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  content: '';
}

.slick-arrow.slick-prev::after {
  left: 14px;
  transform: rotate(-135deg);
}

.slick-arrow.slick-next::after {
  left: -12px;
  transform: rotate(45deg);
}

.slick-next {
  right: 230px;
  padding-top: 10px;
}

.slick-prev {
  left: 50px
}

button.slick-arrow.slick-prev::before {
  position: absolute;
  top: 45%;
  width: 35px;
  height: 35px;
  padding-right: 3px;
  padding-bottom: 3px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background: #51ad33;
  opacity: 100;
  content: '';
  @include flexCentre;
}

.slick-list {
  position: relative;
  z-index: -1;
  overflow: hidden;
  @media (max-width: 758px) {
    display: grid;
    align-content: center;
    justify-items: center;
    margin-right: 32px;
  }
  @media (max-width: 360px) {
    margin-left: 10px;
  }
}

ul.slick-dots li {
  width: 15px;
  height: 15px;
  background-color: #fff;
}

ul.slick-dots li.slick-active {
  background-color: #00b300;
}

.slick-dots li button:before {
  content: '';
}

.custom-arrow-right {
  position: relative;
  bottom: 3px;
  left: 10px;
  width: 14px;
  height: 14px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  transform: rotate(45deg);
}

.custom-arrow-left {
  position: relative;
  bottom: 5px;
  left: 11px;
  width: 14px;
  height: 14px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  transform: rotate(45deg);
}

.arrow-left {
  position: absolute;
  top: 2%;
  left: 40%;
  width: 40px;
  height: 40px;
  padding-top: 9px;
  background: #477547;
  transform: rotate(180deg);
  border-radius: 50%;
  @media screen and (min-width: $tablet-min-width) {
    left: 30%;
  }
}

.arrow-right {
  position: absolute;
  top: 2%;
  right: 40%;
  width: 40px;
  height: 40px;
  padding-top: 9px;
  background: #477547;
  border-radius: 50%;
  @media screen and (min-width: $tablet-min-width) {
    right: 30%;
  }
}

.slick-arrow {
  @media (max-width: 1200px) {
    right: 90px;
  }
}

.slick-arrow.slick-prev {
  @media (max-width: 1200px) {
    left: 100px;
  }
}

.slick-arrow.slick-prev, .slick-arrow.slick-next {
  z-index: 12;
  @media (max-width: 985px) {
    z-index: -1;
  }
}

.slider__wrapper-item .slider__wrapper-photo {
  @media (max-width: 976px) {
    width: 980px;
    height: 350px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (max-width: 715px) {
    width: 780px;
    height: 280px;
  }
  @media (max-width: 556px) {
    width: 600px;
    height: 230px;
  }
}

.slider__wrapper .card {
  height: 556px;
  margin-top: 35px;
  margin-left: 27px;

  &:hover .card__desc {
    box-shadow: none;
  }

  @media (max-width: 768px) and (min-width: $container-min-width) {
    margin-left: -134px
  }
  @media (max-width: 360px) {
    height: 409px;
    margin-right: auto;
    margin-left: 230px;
    overflow: hidden;
  }
}

.slider__wrapper .card:hover {
  @media (max-width: 360px) {
    border: 1px solid transparent;
  }
}

.slider__wrapper .card:hover .slider__wrapper .card__desc {
  @media (max-width: 556px) {
    display: none;
  }
}

div.slider__wrapper-card.slick-list {
  @media (max-width: 556px) {
    //right: 10px;
  }
}

.slick-list {
  z-index: 1;
  margin-left: 10px;
}

.slick-slider.center.slick-initialized {
  z-index: 10;
}

.arrow-right.arrow, .arrow-left.arrow {
  z-index: 12;
}

div.slick-slide.slick-active.slick-cloned {
  width: 280px;
}

.slider__wrapper .card {
  &:hover .card__desc {
    @include tablet {
      display: block;
    }
  }
}

/* stylelint-enable */