.title {
    margin-bottom: 50px;
    font-family: 'Lora';
    font-weight: 400;
    font-size: 23px;
    line-height: 130%;
    color: #202B21;

    @media (min-width: 768px) {
		font-size: 32px;
	}
}