.item {
  width: 130px;
  height: 320px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    width: 200px;
  }

  @media (min-width: 1024px) {
    width: 220px;
  }
}

.containerImg {
  position: relative;
  width: 130px;
  height: 130px;

  @media (min-width: 768px) {
    width: 200px;
    height: 200px;
  }

  @media (min-width: 1024px) {
    width: 220px;
    height: 220px;
  }
}

.img {
  width: 100%;
  height: 100%;
  border: 1px solid #ededed;
  border-radius: 5px;
  object-fit: cover;
}

.title {
  font-family: Montserrat, serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #202b21;
  width: 100%;
  height: 70px;

  @media (min-width: 768px) {
    font-weight: 500;
    font-size: 20px;
  }

  @media (min-width: 1024px) {
    font-size: 20px;
  }
}

.price {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px;
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #2c2c2c;
  background-color: #fff;
  border: 1px solid #ededed;
  border-radius: 0 5px;

  &::after {
    content: " $";
  }
}
