.breadCrumbs{
  font-family: "Montserrat", serif;
  display: flex;
  margin: 0 0 34px 15px;
}
.midLink{
  font-size: 16px;
  font-weight: 400;
  color: #9AA89B;
}
.endLink{
  font-size: 16px;
  font-weight: 500;
  color: #2A592E;
}
.divider{
  margin: 0 8px;
}
@media screen and (min-width:769px)
{
  .breadCrumbs
  {
    margin: 0 0 50px 30px;
  }
}
@media screen and (min-width:1025px)
{
  .breadCrumbs
  {
    margin: 0 0 50px 100px;
  }
}