@use "../../styles/abstracts/_variables";
@use "../../styles/abstracts/_breakpoints";

.listPagination {
  margin: 0 20px;
  display: flex;
}

.itemActivePagination {
  background: #b6d5b9;
  border-radius: 50%;
}

.buttonNumber {
  // width: 60px;
  padding: 17px 26px;
  font-family: variables.$fontFamilyMontserrat;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #2c2c2c;

  @media (min-width: breakpoints.$tablet-min-width) {
    font-size: 20px;
  }

  @media (min-width: breakpoints.$desktop-min-width) {
    font-size: 20px;
  }
}
