.header {
  padding: 15px;
}

.burgerMenuBtn {
  position: relative;
  width:35px;
  height: 35px;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background: transparent;
}

.menuSpanBurger::after,
.menuSpanBurger::before,
.menuSpanBurger {
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: #bb1e99;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.menuSpanBurger {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .menuSpanBurger::before {
    content: '';
    top: -12px;
  }
  .menuSpanBurger::after {
    content: '';
    top: 12px;
  }
