@use "../../styles/abstracts/_breakpoints";
@use "../../styles/abstracts/_variables";

.header {
  @media (min-width: 480px) {
    min-width: 375px;
  }

  @media (min-width: breakpoints.$tablet-min-width) {
    min-width: 768px;
  }

  @media (min-width: breakpoints.$desktop-min-width) {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

.containerMobile {
  min-width: 375px;
  padding: 21px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: breakpoints.$tablet-min-width) {
    display: none;
  }
}

.burgerMenuBtn {
  padding: 0;
  margin: 0;
  border: none;
  font: inherit;
  color: inherit;
  background: transparent;
}

.menuSpanBurger {
  display: block;
  width: 33px;
  height: 3px;
  border-radius: 5px;
  background: #456f49;
  margin-bottom: 6px;

  &:last-child {
    margin-bottom: 0;
  }
}

.menuMobileContainer {
  @media (min-width: 100px) and (max-width: 375px) {
    width: 100%;
    border-radius: 5px;
    right: -100px;
  }

  position: absolute;
  top: 0;
  right: 0;
  width: 375px;
  padding: 15px;
  background: #456f49;
  z-index: 100;
  border-radius: 5px;

  @media (min-width: breakpoints.$tablet-min-width) {
    display: none;
  }
}

.closeBtnMenu {
  display: block;
  height: 1.5px;
  background: #fff;
  border-radius: 10px;

  &:first-child {
    transform: rotate(45deg);
    margin-bottom: -1px;
    width: 22px;
  }

  &:last-child {
    transform: rotate(-45deg);
    width: 22px;
  }
}

.btnWrapper {
  margin: 33px 10px 32px 0;
  text-align: right;
}

.listNavigationWrapper {
  margin-bottom: 30px;

  &::after {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background: #fff;
    margin-top: 30px;
  }
}

.listNavigationFilterWrapper {
  margin-bottom: 240px;
}

.basketWrapper {
  margin-left: 5px;
}

.basketLink {
  display: inline-block;
  text-decoration: none;
  font-family: variables.$fontFamilyMontserrat;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.FavoritesLink {
  margin-left: 22px;
  display: inline-block;
  text-decoration: none;
  font-family: variables.$fontFamilyMontserrat;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.basketLinkText {
  margin: 13px 0 0;
  padding: 0;
}

.phoneWrapper {
  margin: 30px 0 90px 5px;
}

.phoneNumber {
  display: flex;
  align-items: center;
  font-family: variables.$fontFamilyMontserrat;
  font-weight: 400;
  font-size: 16px;
  color: #fff;

  @media (min-width: breakpoints.$tablet-min-width) {
    font-family: variables.$fontFamilyMontserrat;
    font-weight: 500;
    font-size: 14px;
    color: #202b21;
  }

  @media (min-width: breakpoints.$desktop-min-width) {
    margin-left: 180px;
    font-family: variables.$fontFamilyMontserrat;
    font-weight: 500;
    font-size: 16px;
    color: #202b21;
  }
}

.phoneNumberSpan {
  margin-left: 13px;

  @media (min-width: breakpoints.$tablet-min-width) {
    margin-left: 50px;
  }
}

.basketDescLink {
  @media (min-width: breakpoints.$tablet-min-width) {
    margin-left: 13px;
  }

  @media (min-width: breakpoints.$desktop-min-width) {
    margin-left: 14px;
  }
}

.wrapperHeaderIconDesc {
  position: relative;

  @media (min-width: breakpoints.$tablet-min-width) {
    // margin-left: 13px;
    display: flex;
    align-items: center;
    margin-left: 50px;
  }

  @media (min-width: breakpoints.$desktop-min-width) {
    display: flex;
    align-items: center;
    margin-left: 60px;
  }
}

.basketDescLinkLine {
  @media (min-width: breakpoints.$tablet-min-width) {
    margin-right: 10px;

    &::after {
      display: block;
      position: absolute;
      top: 0;
      left: 65px;
      content: "";
      width: 1px;
      height: 20px;
      background: #202b21;
      border-radius: 5px;
    }
  }

  @media (min-width: breakpoints.$desktop-min-width) {
    margin-right: 10px;

    &::after {
      display: block;
      position: absolute;
      top: 0;
      left: 65px;
      content: "";
      width: 1px;
      height: 20px;
      background: #202b21;
      border-radius: 5px;
    }
  }
}

.container {
  @media (max-width: 769px) {
    display: none;
  }

  @media (min-width: breakpoints.$tablet-min-width) {
    padding: 30px 30px 0;
    margin: 0 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: breakpoints.$desktop-min-width) {
    max-width: 1200px;
    padding: 0 10px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.createLine {
  @media (min-width: breakpoints.$tablet-min-width) {
    margin-bottom: 20px;

    &::after {
      content: "";
      margin-top: 20px;
      display: block;
      width: 100%;
      height: 1px;
      background: #ededed;
    }
  }

  @media (min-width: breakpoints.$desktop-min-width) {
    margin-bottom: 25px;

    &::after {
      content: "";
      margin-top: 25px;
      display: block;
      width: 100%;
      height: 1px;
      background: #ededed;
    }
  }
}

.navigationHeaderDesktopWrapper {
  @media (min-width: breakpoints.$tablet-min-width) {
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: breakpoints.$desktop-min-width) {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.navigationHeaderFilterDesktopWrapper {
  @media (min-width: breakpoints.$tablet-min-width) {
    padding: 0 15px;
  }

  @media (min-width: breakpoints.$desktop-min-width) {
    padding: 0 20px;
  }
}

.logOut {
  background: #e7f1e8;
  border-radius: 30%;

  @media (min-width: breakpoints.$tablet-min-width) {
    margin-left: 13px;
  }

  @media (min-width: breakpoints.$desktop-min-width) {
    margin-left: 14px;
  }
}
