.title {
  padding: 30px;
  text-align: center;
  font-size: 36px;
  line-height: 47px;
  color: #202B21;
}

.container {
  border: 2px solid #2A592E;
  border-radius: 1%;
}

.btn{
  color: #519157;
}